@charset "utf-8";

body {
    background-color: hsl(0, 0%, 90%);
    font-family: Arial, Helvetica, sans-serif;
}

header, main {
    max-width: 768px;
    margin: auto;
}

.container, .item {
    padding: 1rem;
    border-radius: 0.5rem;
}

.container {
    background-color: hsl(0, 0%, 100%);
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
}

.item {
    background-color: hsl(30, 70%, 70%);
    margin: 1rem;
    text-align: center;
    flex: auto;
}

#i1 {
    order: 5;
}

#i2 {
    order: -2;
}
#i3 {
    order: -7;
}
#i4 {
    order: 2;
}
#i5 {
    order: 9;
}