@charset "UTF-8";

/* Todas as demais mídias */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Impressão */
@media print {
    body {
        background: none;
        font-family: 'Source Code Pro', monospace;
    }

    main {
        border: 1px solid black;
    }

    main::after {
        content: 'Impressão feita através do site github.com/fredericompereira';
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }

    h2::after {
        content: 'Versão para impressão';
    }

    #phone { display: none; }
    #print { display: block; }
}

/* Tablets */
@media screen and (min-width: 768px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }

    h2::after {
        content: 'Versão para tablets';
    }

    #phone { display: none; }
    #tablet { display: block; }
}

/* Desktops */
@media screen and (min-width: 992px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 3em;
    }

    h2::after {
        content: 'Versão para computadores';
    }

    #tablet { display: none; }
    #pc { display: block; }
}

/* Telas grandes */
@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    h1 {
        font-size: 5em;
    }

    h2 {
        font-size: 3.5em;
    }

    h2::after {
        content: 'Versão para telas grandes';
    }

    #pc { display: none; }
    #tv { display: block; }
}