@charset "UTF-8";

/* Configurações gerais */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Source Sans Pro', serif;
    background-color: #005080;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

h1 {
    padding: 30px;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 0px #002F4D;
}

/* Dispositivo em modo retrato (portrait) */

@media screen and (orientation: portrait) {
    body {
        background-image: url(../imagens/logo-portrait.svg);
    }
}

/* Dispositivo em modo paisagem (landscape) */

@media screen and (orientation: landscape) {
    body {
        background-image: url(../imagens/logo-landscape.svg);
    }
}